html, body {
    height: 100%;
}

body{


}

.maxheight{
    min-height: 100%;
    margin-bottom: -240px;
    padding-bottom: 240px;

}

.btn {
    border-radius: 0 !important;
}

#overlay {
            visibility: hidden;
            position: absolute;
            left: 0px;
            top: 0px;
            width:100%;
            height:100%;
            text-align:center;
            z-index: 1000;
        }
#overlay div {
            width:300px;
            margin: 100px auto;
            background-color: #fff;
            border:1px solid #000;
            padding:15px;
            text-align:center;
}



#mainfooter{
    height: 240px;
    padding-left: 0px;
    width: 100%
}


#first_footer {
    background-color: #3a3a3a;
    min-height: 200px;
    height: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.classfirstfooter {
    font-size: initial;
    color: honeydew;
    float: left;
    padding-top: 10px;
}
#second_footer {
    background-color: #0f0f0f;
    height: 40px;
}
.myclasfooter{
    font-size: medium;
    color: honeydew;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 1%;
}




.fitparent{
    background:green;
    height: 100%;
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
}



#test {
    background-color: #1b6d85;
    height: inherit;
    border: double;
}

.myclas{
    font-size: medium;
    color: honeydew;
    display: inline-block;
    padding-left: 0;
    padding-right: 15px;
    margin-top: 1%;
}
.logoclas{
    font-size: medium;
    color: black;
    display: inline-block;
    padding-left: 0;
    padding-right: 15px;
    margin-top: 1%;
}

.myclas2{
    display: block;
    height: 30px;
    width: fit-content;
    margin-bottom: 10px;
}

.colorhrefsfooter{
    color: honeydew;
}

.buttons{
    background-color: #0e90d2;
    display: inline-block ;
    text-align: center;
}
.buttonsdiv{
    background-color: white;
    display: inline-block ;
    text-align: center;
}

.divparent{
    display: flex;
    justify-content: space-between;
}
.divparentportfolio{
    display: flex;
    justify-content: space-between;
}

#login-dp{
    background-color: #333;
    width: 220px;
}
.navbar-nav>li>.dropdown-menu {
    margin-top: 3px !important;
}
.createaccountforgetpass{
    text-align: left !important;
}

.form-group{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
}

.inline2{
    display: inline-block;
   margin-left:5%;

}
.dropdown-menu{
    min-width: 200px !important;
}

#sizeofa{
    font-size: 16px;
    display: block;
    text-align: left;
    padding-left: 6px;
}

.divparent2{
    display: flex;
}


.tagcloud ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.tagcloud ul li {
    display: inline-block;
    margin: 0 .3em .3em 0;
    padding: 0;
}
.tagcloud ul li a {
    display: inline-block;
    max-width: 100px;
    height: 28px;
    line-height: 28px;
    padding: 0 1em;
    background-color: #5bc0de;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #333;
    font-size: 13px;
    text-decoration: none;
    -webkit-transition: .2s;
    transition: .2s;
}
.tagcloud ul li a:hover {
    background-color: #fff;
    border: 1px solid #fff;
}


#firstmenudiv{

}
.image{
    max-height:100%; max-width:100%;
}
.imageblogclass{
   max-height: 250px;
}

#addressdiv{
    padding-right: 0px;
}
.littlespace{
padding-left: 6px;
}
#address{
    margin-bottom: 0px;
    margin-top: 5px;
}
#sign_in{
    padding-right: 1px;
}

.portfoliodiv{
    display: inline-block;
}

.paddingleft{
    padding-left: 30px;
}
.paddingright{
    padding-right: 30px;
}
.inlineblock{
    display: inline-block;
}
.inputCss{
    background-color: #0f0f0f;
    border-color: black;
}
.inputCss:hover{
    color: #5bc0de;
}

.inneradress{
    margin-bottom: 10px;
    margin-top: 10px;
    color: white;
    font-size: medium;

}
.maxwidth{
    max-width: 700px;
}

.col-centered{
    float: none !important;
    margin: 0 auto !important;
}


@media (min-width: 768px) {
#mainfooter{
    width: inherit;
    padding-right: 30px;
}

}
@media screen and (min-width: 1400px) {
    .container{
        width: 1370px !important;
    }
    .maxheight  {
        min-height: 100%;
        margin-bottom: -240px;
        padding-bottom: 240px;
    }
    #mainfooter{
        min-height: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }


}
@media screen and (min-width: 1600px) {
    .container {
        width: 1570px !important;
    }
}
@media screen and (min-width: 1700px) {
    .container {
        width: 1670px !important;
    }
}
@media screen and (min-width: 1800px) {
    .container {
        width: 1770px !important;
    }
}

textarea {
    resize: vertical;
}

.logoclas{
    font-size: medium;
    color: black;
    display: inline-block;
    padding-left: 0;
    padding-right: 15px;
    margin-top: 1%;
}


.custom_pg li a {
    background: #fafafa;
    color: black;
}

.custom_pg li.active a {
    background-color: #101010;
    color: lightgray;
    border-color: #101010;
}

.custom_pg li a:hover {
    background: #e8e8e8;
    color: black;
}

.custom_pg li.active a:hover {
    background-color: #101010;
    color: lightgray;
    border-color: #101010;
}

.table_btn {
    padding-left: 30px;
    padding-right: 30px;
}

.navbar-text {
    margin-right: 0;
}

.checkbox_align{
    margin-bottom: 5px !important;
}

tr.permissions_table {
    height: 30px;
}

td.permissions_table {
    min-width: 210px;
}

table.permissions_table {
    margin-top: 20px;
    margin-bottom: 20px;
}
