<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load popular_tags %}

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>YogaSoft</title>



    <link href="{% static 'css/styles.css' %}" rel="stylesheet"/>

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
            integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
            integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	    <link href="{% static 'assets/font-awesome/css/font-awesome.css' %}" rel="stylesheet">
		<!--[if IE 7]>
			<link href="{% static 'css/font-awesome-ie7.min.css' %}" rel="stylesheet">
		<![endif]-->

		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->



{#      навіщо цей javascript #}
  </head>

  <body>

   <div class="container theme-showcase" role="main">

        <div class="container-fluid">
             <address class="pull-right">

            <strong>YogaSoft Agency, Inc.</strong><br>
                 <span class="glyphicon glyphicon-envelope"></span>
              yagosoft@gmail.com<br>
                 <form  role="search">

                    <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                    </div>
              </form>
        </address>
        </div>

     <nav class="navbar navbar-inverse ">
      <div class="container-fluid">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                      data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
              </button>
            <a class="navbar-brand" href="#">YogaSoft</a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                  <li><a href="{% url 'app:index_page' %}">Home</a></li>
                  <li><a href="{% url 'app:blog_list_view' %}">Blog</a></li>
                  <li><a href="{% url 'app:main_page' %}">Portfolio</a></li>
                  <li><a href="#">Testimonials</a></li>
                  <li><a href="{% url 'app:contact_us' %}">Contact us</a></li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle=""></a>
                  </li>
              </ul>
           {% if request.user.is_authenticated %}
              <ul class="nav navbar-nav pull-right">
                  <li> <li><a href="/logout">Logout {{ user.username }}</a></li></li>

              </ul>
          {% else %}
               <ul class="nav navbar-nav navbar-right ">
                       <li  class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a>
                            <ul id="login-dp" class="dropdown-menu">
                        <li>
                             <div class="row">
                                    <div class="col-md-12">
                                         <form class="form" role="form" method="post" action="/login" accept-charset="UTF-8" id="login-nav">
                                             {% csrf_token %}
                                                <div class="form-group">
                                                     <label class="sr-only" for="exampleInputEmail2">Email address</label>
                                                     <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Email address" required="">
                                                </div>
                                                <div class="form-group">
                                                     <label class="sr-only" for="exampleInputPassword2">Password</label>
                                                     <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password" required="">
                                                     <div class="help-block text-right">
                                                         <div class="inline">
                                                             <a id="sizeofa" href="">Forget the password ?</a>
                                                             <a id="sizeofa" href="">Create account</a>
                                                         </div>

                                                        <div class="form-group inline">
                                                            <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                                                        </div>
                                                     </div>
                                                </div>
                                         </form>
                                        <div class="social-buttons">
                                            <div class="inline2">
                                         <form class="form" role="form" method="post"
                                               action="{% url 'social:begin' 'facebook' %}" accept-charset="UTF-8" id="login-nav">
                                             {% csrf_token %}
                                             <button type="submit" class="btn btn-primary btn-block">Facebook</button>
                                             </form>
                                            </div>
                                             <div class="inline2">
                                                 <form class="form" role="form" method="post"
                                                       action="{% url "social:begin" "google-oauth2" %}" accept-charset="UTF-8" id="login-nav">
                                             {% csrf_token %}
                                             <button type="submit" class="btn btn-primary btn-block">Google</button>
                                             </form>
                                             </div>
                                        </div>
                                    </div>
                             </div>
                        </li>
                    </ul>
                </li>
               </ul>
           {% endif %}

          </div>
      </div>
    </nav>

 {% block content %}
 {%  endblock  %}



{#  here starts first footer#}
        <div id="first_footer" class="row-fluid">
           <div class="myclas">  <div class="tagcloud">
               {% popular_tags %}
           </div></div>
        </div>


{#        here starts last footer#}
       <div id="second_footer" class="row-fluid">
           <div class="myclas">  Copyright, YogaSoft 2017 </div>
       </div>
   </div>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{% static "js/scripts.js" %}"></script>



</body>
</html>