{% extends 'base.html' %}
{% load i18n %}
{% block title %}
{% trans "Blogs administration" %}
{% endblock %}
{% block content %}
    <div class="container">
        <a href="{% url 'app:create_blog_post'  %}">{% trans "Create new post" %}</a>
        <hr>
        {% for i in object_list %}
            <div class="row">
                <div class="col-md-3">
                    <img src="{{ i.blogpostimage_set.all.0.image.url }}" class="img-responsive">
                </div>
                <div class="col-md-9">
                    <a href="{% url 'app:blog_detail_view' i.id %}">{{ i.name }}</a>
                    {{ i.author }} {% trans "Tags" %}:
                    {% for tag in i.tags.all %}
                        <a href="{% url 'app:blog_list_view_tag' tag=tag.name %}">{{ tag }}</a>
                    {% endfor %}
                    <br>
                    {{ i.date }}
                    <br>
                    <a href="{% url 'app:change_blog_post' pk=i.id %}">{% trans "Change post" %}</a>
                    <br>
                    <a href="{% url 'app:delete_blog_post' pk=i.id %}">{% trans "Delete post" %}</a>
                    </div>
                </div>
            <hr>
        {% endfor %}
    </div>
{% endblock %}
