{% extends "base.html" %}
{% block content %}
{% load staticfiles %}
    <img src="{{ object.blogpostimage_set.all.0.image.url }}">
    <br>
    <h3>{{ object.name }}</h3>
    <br>
    <p>Date: {{ object.date }} Tags:
    {% for i in tags %}
        <a href="/tag/{#{{ url "app:tag" }}#}{{ i.pk }}">{{ i }}</a>
    {% endfor %}</p>

    <br>
    <p>{{ object.text }}</p>
    <br><br><br>


    {% for i in comments.items %}
        <p>{{ i.0.author_name }} {{ i.0.time }}</p>
        <br><p>{{ i.0.message }}</p>
        <br>
        {% for q in i.1 %}
        <p>&emsp;&emsp;{{ q.author_name }} {{ q.time }}</p>
            <br><p>&emsp;&emsp;{{ q.message }}</p>
            <br>
        {% endfor %}
    {% endfor %}


    <form method="post" action="add_comment/">
        {% csrf_token %}
        {{ form }}
        <input  class="btn waves-effect waves-light" type="submit" value="Send">
    </form>
{% endblock %}