{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    {% trans "Users administration" %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
    {% if user_exist %}
        <h2 style="text-align: center">{% trans "Users administration" %}</h2>
        <hr>
        <div class="row">
            <div class="col-md-4">
                <form action="{% url 'app:edit_general_user' user_obj.id %}" method="POST" onsubmit="return confirm('{% trans "Save user?" %}')">
                    {% csrf_token %}
                    {% if login_used %}
                        <h3 style="color: red">Login is already used</h3>  <!-- TODO resize checkbox -->
                    {% endif %}
                    <p><label>{% trans "Username:" %}</label><input class="form-control"  maxlength="30" name="username" type="text" value="{{ user_obj.username }}" required /></p>
                    <p><label>{% trans "First name:" %}</label><input class="form-control" maxlength="30" name="first_name" type="text" value="{{ user_obj.first_name }}"/></p>
                    <p><label>{% trans "Last name:" %}</label><input class="form-control" maxlength="30" name="last_name" type="text" value="{{ user_obj.last_name }}"/></p>
                    <p><label>{% trans "Email:" %}</label><input class="form-control"  maxlength="30" name="email" type="email" value="{{ user_obj.email }}"/></p>
                    <p><label>{% trans "Is active:" %}</label><input class="checkbox" style="" name="is_active" type="checkbox" {% if user_obj.is_active %} checked {% endif %}/></p>
                    <input type="submit" class="btn btn-success" value="{% trans "Save" %}" name="save">
                </form>
            </div>
        </div>
        <hr>

        <h4>{% trans "Change password" %}</h4>
        <div class="row">
            <div class="col-md-4">
                <form action="{% url 'app:edit_general_user' user_obj.id %}" method="POST" onsubmit="return confirm('{% trans "Save user?" %}')">
                    {% csrf_token %}
                    <p><label>{% trans "Password:" %}</label><input class="form-control"  minlength="4" maxlength="30" name="password" type="password" required /></p>
                    <input type="submit" class="btn btn-success" value="{% trans "Change password" %}" name="change_pass">
                </form>
            </div>
        </div>
    {% else %}
        <h1>User does not exist or wrong user id <a href="{% url 'app:general_users' %}">back</a></h1>
    {% endif %}
    <hr>
    </div>

{% endblock %}