{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="container-fluid divparent"><h1>Our Portfolio </h1></div>



        <div class="row">

            {% if portfoliocontent_list %}

                {% for item in portfoliocontent_list %}
                    <div class="col-lg-5 col-lg-offset-1 col-md-6 portfolio-item maxwidth">
                        <a href="#">
                            <img class="img-responsive" src={{ item.imagecontentclass_set.all.0.image.url }} alt="">
                        </a>
                        <h3>
                            <a href="#">{{ item.name }}</a>
                        </h3>
                        <p>{{ item.description }}</p>
                    </div>
                {% if forloop.counter|divisibleby:2 %}
                     </div>
                        <div class="row">
                {% endif %}
                    {% if forloop.last %}
                        </div>
                    {% endif %}
                {% endfor %}


            {% else %}
                <strong>There is no objects inside portfolio.</strong>
                </div>
            {% endif %}


        <!-- /.row -->








{%  endblock  %}


{#{% extends 'base.html' %}#}
{#{% load static %}#}
{#{% block content %}#}
{##}
{##}

{#        {%  endblock  %}#}

