{% extends 'base.html' %}
{% load popular_tags %}

{% block content %}

    <p>
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}&nbsp|&nbsp
        {% if page_obj.has_previous %}
            <a href="{% url 'app:testimonials' %}{% q_transform request page=page_obj.previous_page_number %}">Previous</a>
        {% else %}
            <span style="color: grey">Previous</span>
        {% endif %}
        {% if page_obj.has_next %}
            <a href="{% url 'app:testimonials' %}{% q_transform request page=page_obj.next_page_number %}">Next</a>
        {% else %}
            <span style="color: grey">Next</span>
        {% endif %}
    </p>

    {% if left_tstm %}
        <h3 style="color: red">You have already left testimonial</h3>
    {% endif %}

    <ul>
        {% for tstm in testimonials %}
            <li>{{ tstm.author_name }} {{ tstm.message }} - {{ tstm.date}}
                {% if tstm.id == user_tstm_id and tstm.is_moderated == False %}<span style="color: grey">Will be visible after moderation.</span>{% endif %}
                <hr>
            </li>
        {% endfor %}
    </ul>

    <form action="{% url 'app:testimonials' %}" method="POST" onsubmit="return confirm('Зберегти відгук?')">
    {% csrf_token %}
    <table>
    <tr>
        <td>Name</td>
        <td><input type="text" name="author_name" maxlength="30" value="{{ user.first_name }}" required></td>
    </tr>
     <tr>
        <td>Email</td>
        <td><input type="email" name="author_email" maxlength="30" value="{{ user.email }}" required></td>
    </tr>
     <tr>
        <td>Text</td>
         <td><textarea name="message" maxlength="400" required></textarea>></td>
    </tr>

    <tr>
        <td><input type="submit" value="Зберегти" name="save"></td>
    </tr>
    </table>
</form>


{% endblock %}
