{% extends 'base.html' %}
{% load popular_tags %}
{% load i18n %}

{% block title %}
    {% trans "Testimonials administration" %}
{% endblock %}

{% block content %}
    <p>
        <a href="{% url 'app:testimonials_admin' %}?mod=all&page=1">{% trans "All" %}</a>&nbsp|&nbsp
        <a href="{% url 'app:testimonials_admin' %}?mod=true&page=1">{% trans "Moderated" %}</a>&nbsp|&nbsp
        <a href="{% url 'app:testimonials_admin' %}?mod=false&page=1">{% trans "Not moderated" %}</a>
    </p>
    <p>
        {% trans "Page:" %} {{ page_obj.number }} {% trans "of" %} {{ page_obj.paginator.num_pages }}&nbsp|&nbsp
        {% if page_obj.has_previous %}
            <a href="{% url 'app:testimonials_admin' %}{% q_transform request page=page_obj.previous_page_number %}">{% trans "Previous" %}</a>
        {% else %}
            <span style="color: grey">{% trans "Previous" %}</span>
        {% endif %}
        {% if page_obj.has_next %}
            <a href="{% url 'app:testimonials_admin' %}{% q_transform request page=page_obj.next_page_number %}">{% trans "Next" %}</a>
        {% else %}
            <span style="color: grey">{% trans "Next" %}</span>
        {% endif %}
    </p>

    <ol>
        {% for tstm in testimonials %}
            <form action="{% url 'app:testimonials_admin' tstm.id %}?mod={{ request.GET.mod }}&page={{ request.GET.page}}" method="POST" onsubmit="return confirm('Ви впевнені?')">
                {% csrf_token %}
            <li>{{ tstm.author_name }} - {{ tstm.author_email }} - {{ tstm.message }} - {{ tstm.date}}
            {% if not tstm.is_moderated %}<input type="submit" value="{% trans "Submit" %}" name="moderated">{% endif %}<input type="submit" value="{% trans "Delete" %}" name="delete"></li>
            </form>
        {% endfor %}
    </ol>

    <form action="{% url 'app:testimonials_admin'%}?mod={{ request.GET.mod }}&page={{ request.GET.page}}" method="POST" onsubmit="return confirm('Зберегти відгук?')">
    {% csrf_token %}
    <table>
    <tr>
        <td>{% trans "Name" %}</td>
        <td><input type="text" name="author_name" maxlength="30" required></td>
    </tr>
     <tr>
        <td>{% trans "E-mail" %}</td>
        <td><input type="email" name="author_email" maxlength="30" required></td>
    </tr>
     <tr>
        <td>{% trans "Text" %}</td>
         <td><textarea name="message" maxlength="400" required></textarea>></td>
    </tr>
    <tr>
        <td><input type="submit" value="{% trans "Save" %}" name="save"></td>
    </tr>
    </table>
</form>

{% endblock %}
